// delete.scss
.delete-button {
    background-color: #ff6347; // Red background color
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px; // Rounded edges
  }
  