.tableContainer {
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  margin: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tableHeader {
  display: flex;
  align-items: center;

  .columnHeader {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 20px;
    border-right: 1px solid #ddd;
    padding-bottom: 10px; /* Add padding to create space for the line */

    span {
      font-weight: bold;
      margin-bottom: 5px;
      padding-right: 10px;
    }

    &:last-child {
      border-right: none;
    }
  }
}

/* Add the following rule to create space between Import and Table */
.import-container {
  margin-bottom: 20px;
}
