.noResults {
	text-align: center;
	padding: 20px;
  }
  
  .listItem {
	display: flex;
	align-items: center;
	padding: 10px;
	border-bottom: 1px solid #ddd;
  
	&:last-child {
	  border-bottom: none;
	}
  
	.content {
	  flex: 1;
	  overflow: hidden;
  
	  .infoContainer {
		display: flex;
		justify-content: space-between;
		align-items: center; /* Align items vertically in the middle */
	  }
  
	  .infoItem {
		flex: 1; /* Distribute the space equally among infoItems */
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		margin: 5px 0;
		padding: 0 10px; /* Add padding for better visual separation */
	  }
	}
  }
  