.interactive-button, .import-button {
  padding: 10px;
  background-color: #4FC3A1;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 16px;

  &:hover {
    background-color: #4FC3A1;
  }
}

.import-button {
  margin-left: 70px;
}


#file-input {
  display: none;
}

.interactive-container {
  position: relative;
  // top: 200px;
}

